<html lang="en">
  <head>
    <title><%= name %></title>
    <%- include('../views/components/header.ejs') %>
    <link
      href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css"
      rel="stylesheet"
    />
    <style>
      .jumbotron .btn {
        color: #ffffff;
        padding: 5px !important;
        font-size: 12px !important;
        margin-left: 20px;
      }
      .jumbotron label {
        font-size: 12px;
      }

      .img-user {
        height: 120px;
        width: 120px;
        margin-right: 20px;
      }

      .prj-name {
        font-weight: bold;
        color: #000000;
      }

      .user-item img,
      .user-item h3 {
        display: inline-block;
      }

      .jumbotron .btn .user-item h3 a {
        color: #111111;
        padding: 5px !important;
        font-size: 12px !important;
      }
      #homer {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
      }
    </style>
  </head>
  <body>
    <%- include('../views/components/navbar.ejs') %>
    <div class="container bootstrap snippets bootdey mt-5">
      <div class="header">
        <h3>
          <span class="fa fa-user" style="font-weight: bold"></span>
          <%= name %>
        </h3>
        <% if(city){ %>
        <h4>
          <small style="font-weight: bold; font-style: italic">
            <span class="fa fa-map-marker"></span>
            <%= city %>
          </small>
        </h4>
        <% } %>
      </div>
      <div class="jumbotron mb-5 mt-5 pb-5" style="height: auto">
        <h2>fRiEnDs :</h2>
        <% if(friends.length>0) { %>
        <ul class="list-group">
          <% friends.forEach((friend)=>{ %>
          <li class="list-group-item user-item text-left">
            <img
              class="img-circle img-user img-thumbnail"
              src="https://bootdey.com/img/Content/avatar/avatar<%= Math.floor(Math.random() *8 + 1) %>.png"
            />
            <h3>
              <a href="/person/<%= friend.id %>" class="text-dark"
                ><%= friend.name %></a
              ><br />
            </h3>
          </li>
          <% }); %>
        </ul>
        <% } else { %>
        <h3>&nbsp;&nbsp;- NoNe, GeT a lIfE</h3>
        <% }%>
      </div>

      <div
        class="tab-pane active"
        id="homer"
        role="tabpanel"
        aria-labelledby="home-tab"
      >
        <h3>Add a friend</h3>
        <form method="POST" action="/friends/connect">
          <input type="hidden" name="id" value="<%= id %>" />
          <input type="hidden" name="name1" value="<%= name %>" />
          <input type="text" name="name2" placeholder="name" />
          <input type="submit" value="submit" class="btn btn-primary btn-sm" />
        </form>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
